<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <LevelRangeFilter minLevel="ERROR" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow} %highlight{ [%t] %-5level: %msg%n%throwable}"/>
        </Console>

        <RollingFile name="debugLog" fileName="src/main/resources/logs/debuglog.txt"
                     filePattern="${sys:APP_LOG_ROOT}/application-info-%d{yyyy-MM-dd}-%i.log" append="false">

            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="warningLog" fileName="src/main/resources/logs/warning.txt"
                     filePattern="${sys:APP_LOG_ROOT}/application-info-%d{yyyy-MM-dd}-%i.log" append="false">

            <!-- Matches only INFO level -->
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="src/main/resources/logs/error.txt"
                     filePattern="${sys:APP_LOG_ROOT}/application-error-%d{yyyy-MM-dd}-%i.log" append="false">

            <!-- Matches only ERROR level -->
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="com" additivity="false">
            <AppenderRef ref="debugLog" />
            <AppenderRef ref="warningLog"  />
            <AppenderRef ref="errorLog" />
            <AppenderRef ref="Console"  />
        </Logger>

        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
<!--
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">
    <Appenders >
        <Console name="Console" target="SYSTEM_OUT">
            <LevelRangeFilter minLevel="WARN" maxLevel="OFF" onMatch="ACCEPT" onMismatch="DENY"></LevelRangeFilter>
            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow} %highlight{ [%t] %-5level: %msg%n%throwable}"/>
        </Console>
        <File name="MyFile" fileName="src/main/resources/log.txt" immediateFlush="false" append="false">
            <LevelRangeFilter minLevel="INFO" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"></LevelRangeFilter>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
&lt;!&ndash;        <Logger name="com.Application" level="WARN">
            <AppenderRef ref="Console"/>
        </Logger>&ndash;&gt;
        <Logger name="com.Application">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
-->
